<!DOCTYPE html>
<html>
     <head>
       <title>Blog</title>
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <%= csrf_meta_tags %>
       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </head>
     <body>

         <!--NAVEEGACION vista parcial MANDAMOS A CARPETA PARTIALS comienza con guion bajo las vistas parciales-->
         <%= render "partials/navigation"%>


        <!-- agregar la autentificacion DEVISE-->
        <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
      <!-- agregar la autentificacion, PARA LAS ALERTAS-->


       <%= yield %> <!--aca entrar el codigo que no se repite-->


     </body>
</html>
